.c-contact-us {
    @include container-margins;
    margin: 2rem 0;
    .gform_title {
        color: $orange;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 5rem;
    }
    .gfield_label, input[type="text"], input[type="email"], input[type="tel"], textarea  {
        font-family: $lato;
    }
    .gfield_label {
        color: $blue;
    }
    #gform_submit_button_1 {
        font-family: $lato;
        background-color: $green;
    }
    #gform_1 {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
}