.c-homepage {
    &__header {
       width: 100%;
        background-color: $purple;
        position: relative;
        margin-bottom: 10rem;
        padding-top: 2rem;
        z-index: 10;

        &::before {
            content: '';
            background-image: url('../img/icons/arts.svg');
            background-size: 50px 50px;
            width: 50px;
            height: 50px;
            display: block;
            position: absolute;
            top: 50px;
            left: -80px;
            z-index: 1;
        }
    }

    &__wave-shape {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -236px;
        z-index: 0;
        display: block;
        img {
            width: 100%;
            height: auto;
        }
    }

    &__header-content {
        @include container-margins;
        padding-top: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
        position: relative;
       
    }
    &__header-main-content {
        flex-basis: calc((100% / 2) - 2rem);
        position: relative;
    }
    &__header-small-title {
        margin-bottom: 1.5rem;
        font-weight: 500;
        font-size: 1rem;
        color: $blue;
        letter-spacing: 1.4px;
    }
    &__header-title {
        font-weight: 300;
        letter-spacing: 1.8px;
        color: $white;
        margin-bottom: 1.5rem;
    }
    &__header-desc {
        color: $grey;
    }
    &__header-cta {
        background-color: $white;
        color: $blue;
        display: inline-block;
        margin-top: 3rem;
        padding: 1.2rem 1.5rem;
        border-radius: 25px;
    }
    &__header-image {
        flex-basis: calc((100% / 2) - 2rem);
        z-index: 10;
        position: relative; // Ensure the parent container is positioned
        top: 3rem;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
            position: relative; // Position the image absolutely within the container
            z-index: 1;
        }
    }

    //ABOUT SECTION

    &__about-section {
        @include container-margins;
    }

    &__about-content {
        padding-bottom: 8rem;
    }

    &__about-small-title {
        width: 20%;
        text-align: center;
        font-weight: 400;
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
        background-color: $green;
        color: $white;
        border-radius: 10px;
        padding: 0.4rem 0.2rem;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__about-title {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-weight: 500;
        color: $navyBlue;
    }

    &__about-desc {
        text-align: center;
        margin-bottom: 3.5rem;
        color: $lightPurple;
        padding: 0 4rem;
        letter-spacing: 1.2px;
    }

    &__about-image-features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6rem;
    }

    &__about-image {
        position: relative;
        overflow: hidden;
        border: 5px dotted $yellow;
        &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 65%;
        }
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            transition: .3s cubic-bezier(.64,.04,.35,1);
            &:hover {
                transform: scale(1.05);
              }
        }
    }
    
    &__about-features-title {
        margin-bottom: 1.2rem;
        font-weight: 400;
        color: $blue;
    }

    &__about-features {
        margin-bottom: 5rem;
    }

    &__about-feature {
        margin-bottom: 1.2rem;
        &::before {
            content: '';
            background-image: url('../img/icons/gold-star.svg');
            background-size: 15px 15px;
            width: 15px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }
    }

    &__about-cta {
        background-color: $navyBlue;
        color: $white;
        padding: 1.2rem 1.5rem;
        border-radius: 25px;
    }

   

    &__classes-section {
        text-align: center;
        padding-top: 5rem;
        background-color: rgba($lightBlue, 0.5);
        width: 100vw;
        position: relative;
        left: calc((50% - 50vw));
    }
    &__classes-title {
        font-weight: 300;
        letter-spacing: 1.6px;
        margin-bottom: 2rem;
        color: $purple;
    }
    &__classes {
        display: flex;
        justify-content: space-between;
        @include container-margins;
    }
    &__class {
        flex-basis: calc((100% / 3) - 2rem);
        margin-top: 1.5rem;
    }
    &__class-content {
        background-color: $white;
        padding: 0 2.5rem;
    }
    &__class-title {
        font-weight: 300;
        margin-bottom: 1rem;
        color: $blue;
    }
    &__class-desc {
        margin-bottom: 1.2rem;
    }
    &__class-img {
        position: relative;
        overflow: hidden;
        border-radius: 3px;
        &::before {
            content: "";
            position: relative;
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 66.5%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

