.c-weekly-themes {
    @include container-margins;
    &__title {
      text-align: center;
      font-weight: 300;
      font-size: 2.5rem;
      font-family: $fredoka;
      color: $orange;
      display: block;
      margin: 2rem 0;
    }
    .wp-block-image {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    p {
        display: block;
        margin-top: 2rem;
        font-size: 1.2rem;
        @media only screen and (max-width: $tablet_max) {
          font-size: 1rem;
    }
}
&__main-content {
    margin-bottom: 5rem;
}
}