$blue: #21BAED;
$navyBlue: #3a3d72;
$lightBlue: #EFFAFB;
$yellow: #FDD76B;
$green: #299040;
$lightPurple: #969CAC;
$purple: #613191;
$pink: #E989B8;
$orange: #fd800a;
$grey: #F5F5F5;
$white: #fff;
$black: #000;
$lightBlack: #1D1C22;
$lightTan: #f9f6ef;
$offWhite: #fffaf6;